* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    min-height: 100vh;
}

.container {
    background-color: #76ABAE;
    padding: 2rem;
    border-radius: 1rem;
    border: none;
    min-height: 45vh;
    width: 45vh;
}

form {
    margin: 2rem 0 1rem 0;
}

form select,
button,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}

form input {
  border: 1px solid lightgray;
  font-size: 1rem;
  height: 3rem;
  padding-left: 0.5rem;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.dropdown i {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.select-container img {
  max-width: 2rem;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
}

.select-container select {
  font-size: 1rem;
  width: auto;
}

form button {
  height: 3rem;
  background-color: whitesmoke;
  color: black;
  font-size: 1.15rem;
  font-weight: 200;
  cursor: pointer;
  margin-top: 3rem;
}

.msg {
  margin: 4rem 0 0 0;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}



.dark-mode {
  background-color: darkgrey;
  color: #fff;
}

.dark-mode .container {
  background-color: #444;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.dark-mode button {
  background-color: #555;
  color: #fff;
}

.dark-mode input[type="text"],
.dark-mode select {
  background-color: #666;
  color: #fff;
}

/* Dark mode toggle button styles */
#dark-mode-toggle {
  position: fixed;
  top: 100px;
  right: 10px;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
}

#dark-mode-toggle:hover {
  font-weight: bold;
}




@media screen and (max-width: 440px) {
  .container {
    width: 80%;
  }
}
